<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-updateapp"
        version="1.1.0">

    <name>UpdateApp</name>
    <description>
        应用内提示更新APP
    </description>
    <license>MIT</license>

    <!--     <engines>
            <engine name="cordova" version=">=3.0.0" />
        </engines> -->

    <js-module src="www/updateAppPlugin.js">
        <merges target="window.plugins.updateApp"/>
    </js-module>


    <!-- android -->
    <platform name="android">
        <hook type="after_plugin_install" src="../../scripts/android/corodva-plugin-updateapp-hook.js"/>
        <framework src="com.android.support:support-v4:22.2.0"/>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="UpdateApp">
                <param name="android-package" value="com.phonegap.plugins.updateapp.UpdateApp"/>
            </feature>
        </config-file>


        <config-file target="AndroidManifest.xml" parent="/*">
            <!-- 这个权限用于进行app更新-->
            <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
        </config-file>






        <source-file src="src/android/UpdateApp.java" target-dir="src/com/phonegap/plugins/updateapp"/>
        <source-file src="src/android/file_paths.xml" target-dir="res/xml"/>



    </platform>

    <!-- ios -->

</plugin>
